body {
  display: flex; 
  min-height: 100vh; 
  flex-direction: column;
}

header ul li:nth-child(3) {
  font-weight: bold;
}

#login {
  width: 30%;
  margin: auto;
}

#login h2 {
  margin-top: 100px;
	margin-bottom: 37px;
  text-align: center;
}

#loginform {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#login label {
  font-size: 14px;
  color:#3d3d3d;
  display: block;
  padding-bottom: 7px;
  font-weight: bold;
}
#login input {
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="email"] {
  margin-bottom: 31px;
}
#login input[type="sumbit"] {
  margin-top: 37px;
}

#loginform a {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-align: center;
}

footer ul li {
  color: #000;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 300;
}

footer {
  margin-top: auto;
  height: 60px;
}
